* {
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    color: #1a1a1a;
}


#wrapper{
    margin: 0 auto;
}
.button {
    padding: 10px;
    margin: 2%;
    text-align: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border-right: 2px solid #999;
    border-bottom: 2px solid #999;
    transition: background-color 0.5s;
}
.button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#list {
    float: left;
    padding: 50px;
    display: inline-block;
}
#addItem, .item {
    padding: 5px 10px 0 10px;
    border-radius: 5px 5px 0 0;
}

#addItem {
    position: relative;
    border-bottom: 3px solid #666;
}
.inputSection {
    height: 3rem;
    margin-right: 25px;
    padding-right: 25px;
    font-size: 2rem;
    border-right: 2px solid #ddd;
}

.inputSection#add {
    margin-right: 0;
    color: #abedab;
    cursor: pointer;
    position: absolute;
    right: 0;
    border: none;
    transition: color 0.5s;
}
.inputSection#add:hover {
    color: #2dd22d;
}
input {
    padding: 2px;
    border: none;
    outline: none;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0);
}
input[type="number"] {
    width: 75px;
    text-align: right;
    margin: 0 5px;
}
.highlighted {
    background-color: #ffff99!important;
}


ul {
    padding: 0;
    list-style: 0;
}
#addItem * {
    display: inline-block;
}
.item {
    margin: 2% 0;
    list-style-type: none;
    cursor: pointer;
    font-size: 2rem;
    color: #999;
    border-bottom: 2px solid #999;
    transition: background-color 0.5s;
}
.item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.item::before {
    display: none;
    font-family: "Font Awesome 5 Free";
    content: "\f0c8";
}
.checked::before {
    content: "\f14a";
}
.checked h2:first-of-type {
    text-decoration: line-through;
}
.item h2 {
    margin-right: 50px;
    margin-left: 10px;
}
.item h2:first-of-type {
    width: 570px;
    color: #1a1a1a;
}
.item * {
    display: inline-block;
}

#sidebar {
    width: 250px;
    margin: 50px;
    float: right;
    display: inline-block;
}

.sortOption {
    width: 100px;
    padding: 10px 5px;
    margin: 10px;
    font-size: 4rem;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;border-right: 2px solid #999;
    border-bottom: 2px solid #999;
    background-color: rgba(0, 0, 0, 0.05);
    transition: background-color 0.5s;
}
.sortOption:hover {
    background-color: rgba(0, 0, 0, 0.1);
}